$start-block-background: #141414;
$header-height: 70px;
$header-background: #141414;
$btn-color: black;
$primary-color: #3F51B5;
$dark-color: #424242;
$light-color: #f4f4f4;
$accent-color: #FF4081;
$warm-color: #F44336;
$danger-color: #dc3545;
$success-color: #69f0ae;
$warning-color: #fceb6f;