@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "~normalize.css";

@import "start/start";
@import "partials/header";
@import "login/form";
@import "registration/form";
@import "dashboard/dashboard";
@import "add/form";
@import "items/card";
@import "partials/loader";
@import "edit/form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.start {
  position: relative;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
  color: white;
}

.validation-error {
  font-size: 13px;
  color: red;
  margin-top: 6px;
  font-weight: 500;
  margin-bottom: -20px;
}

.no_items_text {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  top: 100%;
  left: 160%;
}
