@import "src/stylesheets/scss/variables";
@import "src/stylesheets/scss/mixins";

.registration {

  &__form {
    @include AuthFormBoxShadow;
    height: 730px;
    width: 550px;
    margin: 170px auto;
    padding: 35px 50px;

    & h1 {
      text-align: center;
      font-size: 40px;
    }

    & form {
      margin: 50px auto;
      padding: 0 20px;

      & .form-control {
        font-size: 20px;
        margin-bottom: 50px;

        & label {
          @include AuthFormLabel;
        }

        & input {
          @include AuthFormInput;
        }
      }

      & button {
        margin-top: -5px;
        @include AuthFormsSubmitBtn()
      }
    }
  }
}